<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GALLERY_PROVIDER" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiARy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PlanMapActivity"
            android:exported="false" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlanMapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddDiaryMapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RoadMapActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PlanDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DiARy.NoActionBar" />
        <activity
            android:name=".AddDiaryMapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".RoadMapActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AddPlaceInDiaryActivity"
            android:exported="false"
            android:parentActivityName=".AddDiaryActivity"
            android:theme="@style/Theme.DiARy.NoActionBar" />
        <activity
            android:name=".AddDiaryActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <service
            android:name=".MyPlanService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AddPlanActivity"
            android:exported="false"
            android:label="@string/title_activity_add_plan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DiARy.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>